h1 { font-size:1.4em; }

table#s4 { width:auto; }
#s4 tr td { width:35px; height:35px; border:1px solid #DDD; padding:0; text-align:center; }
#s4 .unknown { background:#F6F6F6; }
#s4 .t4 { background:#666; }
#s4 .t3 { background:url("/images/herbe.gif") no-repeat; }
#s4 .t197 { background:url("/images/violette.gif") no-repeat; }
#s4 .n { background:red; color:#000; }
#s4 .o { background:orange; }
#s4 .s { background:#184429; color:#FFF; }
#s4 .e { background:#008000; color:#FFF; }
#s4 .i { background:#426630; color:#FFF; }
#s4 .a { background:#714886; color:#FFF; }
#s4 .f { background:#FFF; color:#000; }
#s4 .g { background:#800000; color:#FFF; }

/* foret */
.t121, .t122, .t123, .t124, .t125, .t129, .t130, .t131, .t132, .t133 { background: #072F00; }

/* route */
.t36, .t38, .t39, .t40, .t41, .t42, .t44, .t45, .t46, .t47, .t48 { background: #AE5C10; }

.info { max-width:250px; display:none; position:fixed; top:20px; right:20px; background:#FFF; border:1px solid #000; padding:10px; text-align:left; color:#000;}
.info p { margin:0; }
.info .close { float:right; text-decoration:none; }

ul.notes { list-style:none; padding:0; margin:0; }
ul.notes li { border:1px solid #CCC; margin:5px 0; padding:5px; background:#FFFF99; }

form.new_note textarea { max-width:250px; padding:0; }
.loader { position:fixed; top:20px; left:20px; width:250px; height:20px; border:2px solid #6C6; background-color:#CFC; color:#444; padding:5px; display:none;}
.note-info { font-size:0.85em; margin-top:5px; }
.note-info .player-name { color:#900; font-weight:bold; }

.red { color:red; }

form.new_note { margin-top:5px; }
form.new_note ul li { margin:0; }