<% title "Joueur : #{@player.name} (#{@player.matricule})" %>

<h1><%= "#{@player.name} (#{@player.matricule})" %></h1>

<ul>
  <li>Dernière mise à jour : <%= l(@player.updated_at, :format => :default)%></li>
  <li>Position : <%= "#{@player.pos_x} / #{@player.pos_y}" %></li>
</ul>

<h2>Notes</h2>

<ul class="notes">
  <% for note in @notes %>
  <li><%= display_note(note) %></li>
  <% end %>  
</ul>

